#allhp {
  font-size: 50px;
}
#all {
  display:grid;
  grid-template-columns:1fr 1fr;
}
h1 {
  text-align: center;
  border-bottom:2px solid black;
  margin-bottom:0;
  height:80px;
}
#mawang {
  border-right:2px solid black;
  margin-top:0;
  text-align: center;
}
#ma {
  height:350px;
}
#yongsa {
  border-left::2px solid black;
  margin-top:0;
  text-align: center;
}
#yo {
  width:350px;
}
#button {
  text-align: center;
}
.attack {
  font-size:30px;
}
